body {
  background-color: #092764;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.App {
  text-align: center;
}

.App-logo {
  margin: 5vh;
  height: 10vmin;
  pointer-events: none;
}

.App-header {
  background-color: #092764;
  min-height: 95dvh;
  margin-left: 2.5dvw;
  margin-right: 2.5dvw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: white;
}

.link-box {
  display: block;
  padding: 24px 32px;
  border: 2px solid #ffffff;
  border-radius: 25px;
  margin-top: 20px;
  transition: all 0.2s ease-in-out;
}

.link-box:hover {
  transform: scale(0.975);
}

.dataset-title {
    margin: 0;
  margin-bottom: 16px;
  font-weight: 600;
}

.button-row {
  display: flex;
  gap: 16px;
  justify-content: center;
}

.action-button {
  text-decoration: none;
  padding: 10px 16px;
  border: 2px solid white;
  border-radius: 6px;
  color: white;
  font-weight: 600;
  transition: all 0.2s ease;
}

.action-button:hover {
  background-color: white;
  color: #092764;
  transform: scale(0.975);
}

.download-button {
  border-color: #00ffcc;
  color: #00ffcc;
  transition: all 0.2s ease;
}

.download-button:hover {
  background-color: #00ffcc;
  color: #092764;
  transform: scale(0.975);
}

.footer {
  min-height: 5dvh;
}

.footer-text {
  color: white;
  text-decoration: none;
}

.footer-link {
  color: #72a2c9;
  text-decoration: none;
}